/* 🎨 Colors */
:root {
  color-scheme: light dark;

  --color-bg: #f2eff5;
  --gradient-bg: linear-gradient(90deg, var(--color-bg), var(--color-bg));
  --color-fg: #2a2d37;
  --color-fg-muted: #888494;
  --color-secondary-bg: #e8e4f2;
  --color-secondary-separator: #dfdbed;
  --color-content-bg: #ffffff;
  --color-content-fg: #444a5a;
  --color-content-fg-bold: #000000;
  --color-content-fg-muted: color-mix(
    in srgb,
    var(--color-content-fg),
    var(--color-content-bg) 40%
  );
  --color-content-secondary-bg: #f5f4f9;
  --color-content-secondary-separator: rgba(223, 219, 237, 40%);
  --color-content-bg-focus: #fffcfa;
  --color-accent: #6364ff;
  --color-accent-badge: #ac5698;
  --color-accent-focus: #563acc;
  --color-accent-lines: rgba(99, 100, 255, 12%);
  --color-accent-bg: #e5ddf6;
  --color-accent-fg: #ffffff;
  --color-lines: #e1dde4;
  --color-lines-translucent: rgba(0, 0, 0, 15%);
  --color-confirm: #79bd9a;
  --color-confirm-bg: rgba(121, 189, 154, 30%);
  --color-confirm-fg: #4e8a6b;
  --color-reject: #df405a;
  --color-reject-bg: rgba(223, 64, 90, 30%);
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #111111;
    --gradient-bg: linear-gradient(90deg, var(--color-bg), var(--color-bg));
    --color-fg: #d6d2e0;
    --color-fg-muted: #655e6e;
    --color-secondary-bg: #13111f;
    --color-secondary-separator: #26232e;
    --color-content-bg: #030303;
    --color-content-fg: var(--color-fg);
    --color-content-fg-bold: #ffffff;
    --color-content-fg-muted: #737373;
    --color-content-secondary-bg: var(--color-secondary-bg);
    --color-content-secondary-separator: rgba(64, 62, 89, 40%);
    --color-content-bg-focus: #0e0e0e;
    --color-accent: #7a7af9;
    --color-accent-focus: #5a47ff;
    --color-accent-lines: rgba(122, 122, 249, 30%);
    --color-accent-bg: #261f3c;
    --color-accent-fg: #ffffff;
    --color-lines: #343434;
    --color-lines-translucent: rgba(255, 255, 255, 15%);
    --color-confirm-fg: var(--color-confirm);
  }
}
