@font-face {
  font-family: hyperlegible-font-sans-serif;
  src:
    local('Atkinson Hyperlegible Italic'),
    url('~fonts/atkinson/AtkinsonHyperlegibleNextVF-Variable.woff2')
      format('woff2');
  font-weight: normal;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: hyperlegible-font-sans-serif;
  src:
    local('Atkinson Hyperlegible Bold'),
    url('~fonts/atkinson/AtkinsonHyperlegibleNextVF-Variable.woff2')
      format('woff2');
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: hyperlegible-font-sans-serif;
  src:
    local('Atkinson Hyperlegible Medium'),
    url('~fonts/atkinson/AtkinsonHyperlegibleNextVF-Variable.woff2')
      format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: hyperlegible-font-sans-serif;
  src:
    local('Atkinson Hyperlegible'),
    url('~fonts/atkinson/AtkinsonHyperlegibleNextVF-Variable.woff2')
      format('woff2');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
