body.admin {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: hyperlegible-font-sans-serif, ui-rounded, sans-serif;
}

.glitch_only {
  color: var(--color-accent-badge);
}
